/* CSS Reset */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/* Custom Color Variables*/
:root {
    --dark-primary: #2a2a2a;
    --dark-accent: #2ecc71;
    --dark-text: #f9f9f9;
    --light-primary: #f9f9f9;
    --light-accent: #cc402e;
    --light-text: #2a2a2a;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--dark-primary);
    color: var(--dark-text);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: flex-start;
    padding: clamp(16px, 2vw, 40px);
    margin-left: 5vw;
}

main {
    flex: 1;
}