/* CSS Reset */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/* Custom Color Variables*/
:root {
    --dark-primary: #2a2a2a;
    --dark-accent: #2ecc71;
    --dark-text: #f9f9f9;
    --light-primary: #f9f9f9;
    --light-accent: #cc402e;
    --light-text: #2a2a2a;
}


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--dark-primary);
    color: var(--dark-text);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: flex-start;
    padding: clamp(16px, 2vw, 40px);
    margin-left: 5vw;
}

main {
    flex: 1;
}

header {
    margin-bottom: clamp(4px, 2vh, 20px);
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: clamp(2px, 1vh, 8px);
}

.task-list__item {
    display: flex;
    gap: clamp(2px, 1vw, 8px);
}

.task-filter {
    display: flex;
    gap: clamp(4px, 5vw, 20px);
    padding: clamp(4px, 2vh, 16px);
    padding-left: 0;
    cursor: pointer;
}

.add-task-form {
    display: flex;
    gap: clamp(2px, 1vw, 8px);
    padding-top: clamp(2px, 1vh, 8px);
}

.inactive {
    opacity: 50%;
}

.active {
    text-decoration: underline;
}

.ph, .ph-fill {
    color: var(--dark-text);
}

::placeholder {
    font-style: italic;
}

#add-task-form__desc {
    cursor: crosshair;
    background-color: transparent;
    border: none;
    color: var(--dark-text);
}